<% if @admin_session.errors.any? %>
    <div class="alert alert-error" align="center">
      <a class="close" data-dismiss="alert"> × </a>
      <% @admin_session.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
<%end%>
<div class="row">
  <div class="span5 offset3" style="border: 1px solid #E5E5E5;">
    <%= form_for @admin_session, :html => {:class => "form-horizontal"} do |f| %>

        <legend style="text-align: center;">Login</legend>
        <div class="control-group">
          <div class="control-label">
            Email
          </div>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="control-group">
          <div class="control-label">
            Password
          </div>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Login", :class => "btn btn-success" %>
          </div>
        </div>
    <% end %>
  </div>
</div>